@charset "UTF-8";
/* not necessary */
@import url('https://fonts.googleapis.com/css?family="Alata"|Open+Sans&display=swap" rel="stylesheet"');
/* bluegrey matter   #637f80 light  #536872  #708090  #536878  #36454f dark */
body {
    font-size: 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* phone or baseline views **************************/
.article {
    margin-left: 10px;
    width: 380px;
    text-align: justify;
    text-justify: inter-word;
}

footer {
    background-color: lightgrey;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 15px;
}

header,
nav,
main,
footer {
    margin: 0 auto;
    background-color: #aaf1a5;
    color: #222;
}
@media only screen and (min-width: 37.5em){

nav ul {

    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
}

main {
    max-width: 960px;
}

h1 {
    font-size: 1.1rem;
}

h1 {
    text-align: center;
    margin-right: 5px;
}

h2 {
    /*color: #ecece6;*/
    text-align: center;
}

nav {
    background-color: #F6D55C;
    text-align: center;
    box-shadow: 0 2px 15px gray;
}

nav ul {
    list-style-type: none;
    margin:  none;
    padding: none;
    overflow: hidden;
}


nav ul {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.active {
    color: yellow;
}

main article {
    margin: 0.5rem;
    border: 1px solid #bbb;
    padding: 0 1rem;
    background-color: #eee;

}
header, footer {
    
    background-color: #ecf0f5;
    padding: 1.5em;
    align-content: center;
    border-radius: 20px;
    text-align: center;
    color:thistle;
    font-family: 'Rubik', sans-serif;
  }

}


#Portal_Last_Updated {
    padding-top:0px;
    margin-top:-10px;
    font-size:15px;
    color:rgb(255, 252, 47);
}
  /*
  .bold {
    font-weight:bold;
    text-align:right;
  }
  
  /* Color-Scheme */
  
  /*.color {
      border: solid .2em rgb(236, 6, 6);
      padding:.5em;
  }
  
  #color-1 {
      background-color:rgb(177, 237, 252);
  }
  
  #color-2 {
      background-color:rgb(0, 0, 0);
      color:white;
  }
  
  #color-3 {
      background-color:rgba(241, 80, 37, 1);
      color:black;
  }
  
  #color-4 {
      background-color:rgb(255, 210, 63);
  }