
h1 {
    text-align: center;
    margin: 0.5em;
    font-size: 0.7em;
}


.companylist.card-view {
    margin: 0 auto;
    padding: 1em;
    box-shadow: 0 0 20px 5px rgb(255, 255, 255);
    background-color: rgb(51, 51, 108);
}
.companylist.card-view .img-box {
    text-align: center;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    margin-bottom: 10px;
    max-width: 100%;
}

.companylist.card-view .img-box img {
    height: 100px;
}

.companylist.list-view {
    display: block;
    background-color: gray;
}

.companylist.list-view .img-box {
    display: none;
}

.companylist.list-view section:nth-child(2n){
    background-color: rgb(51, 51, 108);
}
.companylist.card-view{
    margin: 0;

}

section:nth-child(10) :nth-child(4) {
    font-weight: 700;
    font-style:oblique;
}


.companylist.card-view section h4 {
    text-align: center;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    font-weight: bold;
    width: 100%;
    color: rgb(252, 172, 1);
    margin: auto;
    font-size: 20px;
}

.companylist.card-view section p {
    width: 100%;
    display: block;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-left: 10px;
    font-weight: bold;


}
.companylist.list-view section h4{
    display: grid;
    padding: 0.5em;
    color:rgbargb(255, 217, 0);
    text-align: left;
}

.companylist.list-view section p{
    display: grid;
    grid-template-columns: 2;
    padding: 0.2em;
    color:rgb(255, 255, 255);
}

@media only screen and (min-width: 35em) {
    .cards {
        grid-template-columns: 1fr 1fr;
        max-width: 90%;
    }
    section {
        font-size: .78em;
    }

    h1 { margin: 0.5em;
         font-size: 25px;
    }
   body{
    background-color: rgb(255, 217, 0);
   }
}


