






.companylist card-view{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    justify-items: center;
    margin: 1.2em;
    color: white;
    background-color: rgba(255, 174, 0, 0.8);
    padding: 1.5em 0;
    border-radius: 1em;
    border: .6em solid rgb(255, 255, 255);
    box-shadow: 0 1px 5px 2px rgb(200, 198, 207);
}
/*section   {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    justify-items: center;
    margin: 1.2em;
    color: white;
    background-color: rgba(255, 174, 0, 0.8);
    padding: 1.5em 0;
    border-radius: 1em;
    border: .6em solid rgb(255, 255, 255);
    box-shadow: 0 1px 5px 2px rgb(200, 198, 207);
}
