@media only screen and (min-width: 50em) {
    header section {
        font-size: 1em;
    }
    .box-container-1 {
        display: block;
    }

    .hero-text-1 {
        text-align: center;
        position: absolute;
        top: 15px;
        left: 15px;
        font-size: .3em;
        padding: 12px 24px;
        border-radius: 1em;
        background: radial-gradient(#eee, #044d6e);
        opacity: .9;
       }
        .hero-text-2 {
        text-align: center;
        position: absolute;
        bottom: 15px;
        right: 15px;
        font-size: .3em;
        padding: 12px 24px;
        border-radius: 1em;
        background: radial-gradient(#eee, #044d6e);
        opacity: .9;
    
    
    }
}