body {
    font-size: 18px;
    /*font-family: 'Cardo', Georgia, serif;*/
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background-color: rgb(255, 208, 0);
}

div.main {
    min-width: 350px;
    max-width: 1350px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4 {
    /*font-family: 'Syne Mono', fantasy, sans-serif;*/
    font-weight: 400;
    margin-left: 20px;
    text-align: center;
    color: rgb(252, 172, 1);
}

.newsdiv,
.contactdiv-home {
    background-color: blue;

}

.contactdiv-home {
    border: 0;

}

.contactdiv iframe {
    display: block;
    width: 70%;
    height: 8em;
    margin: 0 auto;
    margin-top: 32px;
}


.images {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

header,
nav,
main,
footer {
    max-width: 889px;
    margin: 0 auto;
    text-align: left;
}

footer{
    background-color: #000051;;
    box-shadow:  rgb(243, 242, 237);

}


.element-2 {
    display: grid;
    grid-column: 1fr;
}

.home-grid {

    max-width: 56em;
    margin: 0 auto;

}

.flexwrap h6{
    font-size: 20px;
    color:rgb(252, 172, 1);
}


.contactdiv {
    display: block;
    background-color: rgb(25, 0, 255);
}

header h6 {
    margin-top: -10px;
}

header img {
    width: 5em;
    margin: 0.5em 0.1em;
}

footer img {
    width: 15em;
    margin: 0.5em 0.5em;
}

footer h2 {
    font-size: 20px;
}

footer h1 {
    font-size: 25px;

}

footer p{
    font-size: 20px;
}
.social {
    font-size: 1.2em;
}


.externalimage {
    width: 100%;
}




footer {
    margin: 0 auto;
    height: 50%;
    text-align: center;
    
}

header div {
    font-style: italic;
}


.footer-section-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.5em;
    padding: 0 25px;
    padding-top: 15px;
}


footer div .element-2 {
    display: grid;
    grid-column: 3;
    margin-right: 20px;
    padding-top: 25px;
   /* margin-left: 140px;*/
    
}

 li {
    display: flex;

}

.italic {
    color: white;
    font-style: italic;
}



/* Nav Section */

nav ul {
    display: block;
    background-color: rgb(245, 245, 248);
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

nav li {
    display: none;
    font-weight: 800;
    padding: 0.5em;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: rgb(241, 210, 37);
}

nav li:hover {
    background-color: rgb(255, 63, 63);
}


.ham {
    display: block;
}

.open {
    display: inline-block;
}

.fa-window-close {
    display: none;
}

.close {
    display: inline-block;
}


.icon {
    max-width: 80px;
}
.plant{
    text-align: center;
      
}

.plant  h1 {
    margin-top: 10px;
    
}

.responsive li {
    display: block;
}




.social img {
    border-radius: 50px;
    max-width: 40px;
}

.footer-right-img {
    width: 32px;
}

.clip-circle {
    clip-path: circle(19px at center);
}

.clip-circle2 {
    clip-path: circle(60px at center);
}


.contactdiv iframe {
    display: block;
    width: 100%;
    height: 8em;
    margin: 0 auto;
    padding-bottom: 30px;
}

#Portal_Last_Updated {
    padding-top: 0;
    padding-bottom: 10px;
    font-size: 15px;
    color: rgb(255, 255, 255);
}

p,
b,
a {
    color: rgb(255, 255, 255);
}

.tempet{ 
    display: flex;
    flex-direction: row;
}


p {
    color: blue;
}


.van {
    max-width: 50px;
}

.pen {
    max-width: 50px;
}


.newsdiv {
    background-color: rgb(14, 235, 235);

}

.element-text-3 {
    background-color: rgb(14, 240, 127);
    padding-top: 5px;
    text-align: center;

}

.element-text-4 {
    background-color: rgb(14, 240, 127);
    padding-top: 5px;
    text-align: center;

}

.element-text-6,
.weatherSum {

    background-color: rgb(14, 240, 127);

}



.banner {
    display: none;
    background-color: rgba(255, 210, 63, 1);
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
    padding: .5em;
}

.contactdiv {
    display: block;

}

.contactdiv section {
    overflow: hidden;
    background-color: rgb(51, 51, 108);
}

.herodiv {
    position: relative;

}

/* Nav Section */
nav ul {
    display: block;
    background-color: rgb(62, 187, 209);
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

ul{
 
        display: flex;
        flex-direction: row;
        padding-top: 40px;
        margin-right: 40px;
}
nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: rgba(241, 80, 37, 1);
}

nav li:hover {
    background-color: rgba(255, 210, 63, 1);
}



.ham {
    display: block;
}

.open {
    display: inline-block;
}

.fa-window-close {
    display: none;
}

.close {
    display: inline-block;
}

.hide {
    display: none;
}

.responsive li {
    display: block;
}

p {margin-left: 20px;
    color: rgb(253, 253, 253);
  

}

.van {
    max-width: 50px;
    display: grid;
    grid-column: 1/2;
    grid-row: 1/3;
}

.pen {
    max-width: 50px;
    ;
    display: grid;
    grid-column: 2/2;
    grid-row: 2/3;
}


h3, h4 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    color:rgb(252, 172, 1);
}

h6 {
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.change h2 {
    font-size: 24px;
    color:#06073a;
}

.galleryGrid {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 25px;
    row-gap: 25px;
    margin-bottom: 1em;
}

img[data-src] {
    filter: blur(0.1em);
}

.gridimage {
    filter: blur(0em);
    transition: filter 1s;
    border-radius: 1em 1em 0 0;
    margin: 0;
}

.imagetile {
    max-width: 400px;
    border: 5px solid black;
    border-radius: 1.3em;
    border-color: rgb(150, 150, 150);
    justify-self: center;
    box-shadow: 0px 0px 2px 2px rgb(90, 90, 90);
}

.imagecaption {
    background-color: white;
    margin: -.2em 0 0 0;
    padding: 0.5em;
    border-radius: 0 0 1em 1em;
    max-width: 100%;
    white-space: nowrap;
    text-align: center;
}

/* gallery */
body {
    display: block;
}

.parentbox {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 30px;
    row-gap: 30px;
    margin-bottom: 1em;

}


.parentbox {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 25px;
    row-gap: 25px;
    margin-bottom: 1em;
}

img[data-src] {
    filter: blur(0.5em);
}

.imageholder {
    filter: blur(0em);
    transition: filter 10s;
    border-radius: 1em 1em 0 0;
    margin: 0;

}

.imagebox {
    max-width: 400px;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 1.3em;
    border-color: rgb(28, 4, 247);
    justify-self: center;
    box-shadow: 0px 0px 10px 10px rgb(250, 250, 246);

}

.imagecaption {
    background-color: rgb(255, 255, 255);
    margin: -.2em 0 0 0;
    padding: 0.5em;
    border-radius: 0 0 1em 1em;
    max-width: 100%;
    white-space: nowrap;
    text-align: center;
}




/*--Gallery Page--*/

.parentbox {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 25px;
    row-gap: 25px;
    margin-bottom: 1em;
}

img[data-src] {
    filter: blur(0.2em);
}




.imagecaption {
    background-color: white;
    margin: -.2em 0 0 0;
    padding: 0.5em;
    border-radius: 0 0 1em 1em;
    max-width: 100%;
    white-space: nowrap;
}


/*------join page----*/
main {
    padding: 0 2%;
    min-height: 20rem;
}

form {
    background-color: rgb(51, 51, 108);
    color: white;
    text-align: left;
    padding: 1em;

    position: relative;

}

form fieldset {
    margin: 2em 0;
    margin: 2rem 0;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;
}

fieldset legend {
    font-size: 2em;
    font-family: 'lato', sans-serif;
    color: rgb(252, 172, 1);
    margin: 0 1rem;
    padding: 0 .5rem;
}

.top,
.radio,
.additionalInfo {
    display: grid;
    text-align: start;
    color:white;

}

.namecity, .state, .codepostal, .nation{
    display: inline-block;
    
}
.phoneoption, .emailoption {
    display: inline-block;

}
fieldset.contact-box{
    display: grid;
}

.joinmap{
    width: 100%;
}


label {
    padding: 1em 0 1em 0;
}

.flexly .rating,
.stormInfo,
#rating {
    width: 100%;
}


form label.top input:required {
    border-left: rgb(255, 187, 0) solid 6px;
    border-radius: 5em;
    border: 0 2px solid rgb(34, 36, 36);
   
}

label:required,
select:required,
textarea:required {
    border-color: rgb(255, 238, 3) solid 10px;
}


input.topinput,
textarea {
    width: 92%;
}

.radiolabel {
    padding: 0.8em;
}

div.radio {
    padding: 1.2em 0 1em 0;
}

.topinput,
#submitBtn {
    height: 50px;
}

select.custinput {
    height: 60px;
}

.custinput,
#submitBtn,
textarea {
    border: 5px solid rgb(146, 138, 121);
    border-radius: .8em;
}

#submitBtn {
    
    color: rgb(36, 33, 33);
    Width: 50px;
    max-width: 20%;
    border: 5px solid rgb(146, 138, 121);
    border-radius: 20px 20px;
}
.thankYou {
    padding: 1em;
    font-size: 3em;
    background-color: rgba(30, 17, 106, .8);
    color: white;
}

input {
    padding: 5px;
    margin: 5px;
    border-radius: 20px 20px;
    width: 100%;
}

.memo {
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    margin-top: 5px;
    font-style: italic;
    color: #06073a;
}

.imagethk {
    max-width: 100%;
    margin-top: 5px;

}

#banner-2 {
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    margin-top: 5px;
    font-style: italic;
    color: #0004ff;
}

.button-container {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.button-container button {
    width: 50px;
    padding: 15px;
    text-align: center;
}

.button-container button img {
    max-width: 100%;
}

.flexly .rating,
select.custinput,
input.custinput,
textarea,
#submitBtn,
#rating {
    width: 75%;
}
.tempet {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 200px;
    margin: 0 auto;
    }

    /*--join--*/

    #tac{
        width: 30px;
    }
    .ok, .condition {
        text-align: left;
    }
    .addinfo{
        display: flex;
        flex-direction: column;
        text-align: left;
    } 
    /*--Contact--*/

    .paragraph{
        border:1px solid #ffe601;
    }

    .imgcontact {
        width: 20%;
        float: left;
        margin: 0 1em 1em 1em;
        clear: both;
     }

   /*--join--*/
    .containerPack h6{
        margin-top: 20px;
   }








.footer-section-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    justify-content: space-between;
    margin: 0 auto;
    padding: 5px;
    border-radius: 0.5em;
 
    font-size: 10px;
    color: white;
    align-items: center;
}

/* New css header*/
.headsection {
    display: flex;
    align-items: center;
    background-color: #000051;
    color: white;
    width: 100%;
}

.element-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    /*width: 33%;*/
    margin-left: 120px;
}

.flexwrap{
    margin: 20px 20px 0 20px;
}

.headsection .navigation{ 
    margin-top: 0;
}

.headsection .social {
    margin-top: 0;
}

.social {
    margin-left: auto;
}

.social img {
    border-radius: 50px;
    max-width: 32px; 
}

.headsection-2{
    height: 50px;
}

.headsection .navigation ul li {
    display: inline-block;
    text-align: center;
    padding: 5px;
  }
  
.headsection .social ul li {
    display: inline-block;
    text-align: center;
    padding: 5px;
}

button{
  background-color: rgb(63 81 181);
    color: white;
    border: none;
    font-size: 2em;
}
section.footer-section-2 {
    display: flex;
    padding-left: 200px;
    
}

hr{
    width: 90%;
}
.joinmap{
    display: grid;
    grid-template-columns: 1fr;

 
}