@media only screen and (min-width: 34.7em) {
    header picture img {
        width: 8em;
    }

    header section {
        font-size: .8em;
    }

    .ham {
        display: none;
    }

    nav ul {
        display: flex;
        
    }

    nav ul li {
        display: block;
        flex: 1 1 auto;
        text-align: center;
    }

    footer p {
        font-size: 1em;
    }

    .box-container-1{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1/1;
      
        grid-gap: .2em;
        border-right-color: 10px solid ;
        
    }
    

    
    }
