body {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background-color: #F7F7F7;
    color: #dae0b4;
}

a {
    color: white;
}

div.content a {
    padding: 5px;
    border: 3px solid #9E9B4A;
    background-color: rgba(255, 255, 255, 0);
    color: #9E9B4A;
    padding: 5px 2px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 100;
    cursor: pointer;
    border-radius: 8px;
}

div.sectiondate a {
    color: #ffff;
}


/* header  */

header {
    overflow: hidden;
    background-color: #12110f;
    background-image: url("../images/bangkok-thailand-temple.jpeg");
    background-position: center bottom;
    height: 250px;
    position: relative;
}

header .hotel-name {
    padding: 24px;
    text-align: center;
    width: 300px;
    margin: 24px auto;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
}

header .hotel-name h2 {
    margin-top: 8px;
    color: #9e9b4a;
}

div.logohotel img {
    max-width: 200px;
    margin: 0 auto;
}


/* navigation  */

header .navigation {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
}

header .navigation ul {
    list-style: none;
    text-align: center;
    margin: 0 auto;
    padding: 24px;
    background-color: #9e9b4a;
}

header .navigation ul li {
    display: inline-block;
}

header .navigation ul li a {
    padding: 10px 15px;
    text-decoration: none;
    color: white;
}

header .navigation ul li.active a {
    color: #fdf684;
}

header .social-media ul {
    list-style: none;
}

header .social-media ul li {
    display: inline-block;
    padding: 0 10px;
}

header .social-media ul li img {
    width: 40px;
}


/* main */

main {
    line-height: 1.5;
}

main .group-1 div.call-to-action a {
    display: block;
    padding: 25px;
    text-align: center;
    text-decoration: none;
    background-color: #9e9b4a;
    font-size: 20px;
    color: white;
    border-radius: 5px;
}

main .group-1 div.weather-card table {
    width: 100%;
}

main .group-1 div.weather-card table td {
    width: 33.33%;
}

main.change h2 {
    margin-left: 35px;
    margin-top: 0;
    padding-top: 20px;
}


/*--element--*/

.button-primary {
    border: 2px solid #9E9B4A;
    background-color: #9E9B4A;
    color: white;
    padding: 14px 28px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 8px;
}

.button-outline {
    border: 2px solid #9E9B4A;
    background-color: rgba(255, 255, 255, 0);
    color: #9E9B4A;
    padding: 14px 28px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 8px;
}


/* footer */

footer {
    background-color: #302c29;
    line-height: 1.8;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
}

footer div {
    padding: 0 24px;
}

footer div.hotel-address {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
}

footer div div {
    padding: 0;
    margin-bottom: 15px;
    color: #ffff;
}

footer div.contact-form h3 {
    margin-top: 0;
    color: #ffff;
}

footer div.contact-form label {
    display: block;
}

footer div.contact-form input,
footer div.contact-form textarea {
    width: 100%;
    padding: 10px 0;
}

.footerpart-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

div.sectiondate {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align: center;
}

.contact-form {
    padding-top: 24px;
}

.google-map {
    max-width: 100%;
    padding-top: 24px;
}

legend {
    color: grey;
}

.custinfo legend {
    color: #ffff;
}
fieldset.custinfo{
    border-radius: 5px;
}
fieldset.contact-box{
    border-radius: 5px;
}