@media only screen and (max-width: 1024px) {
    /*---header---*/
    header {
        overflow: hidden;
        background-color: #12110f;
        background-image: url(../images/bangkok-thailand-temple.jpeg);
        background-position: center bottom;
        height: 400px;
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
    }
    div.social-media {
        text-align: center;
    }
    .social-media ul {
        padding-left: unset;
        margin: 40px;
    }
    main .group-1>div {
        padding: 15px;
    }
    header .hotel-name {
        padding: 24px;
        text-align: center;
        width: 300px;
        margin: 24px auto;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 10px;
    }
    /*--reservation--*/
    div.elemdetail.inlined {
        width: 49%;
        display: inline-block;
        float: left;
        margin-left: 1%;
    }
    label {
        display: block;
        font-family: 'lato', sans-serif;
        padding-bottom: 10px;
        font-size: 12px;
        color: #FFF;
    }
    input,
    select,
    textarea {
        border-radius: 5px;
        border: 2px solid #777;
        box-sizing: border-box;
        font-size: 1.25em;
        font-family: 'Nanum Gothic';
        width: 100%;
        padding: 10px;
    }
    fieldset {
        padding: 0.35em 0.75em 0.625em;
        border-radius: 5px;
    }
    div.elemdetail.inlined input {
        width: 95%;
        display: inline-block;
    }
    textarea {
        height: 250px;
    }
    hr {
        border: 1px dotted #ccc;
    }
    .main {
        max-width: 1200px;
        margin: 0 auto;
    }
   
    main h2 {
        color:#9E9B4A;
        text-align: center;
        font-size: 32px;
    }
    main p {
        text-align: center;
        color: rgb(108, 100, 100)
    }
    img {
        width: 100%;
    }
    .content p {
        font-size: 30px;
        color: rgb(252, 252, 250);
    }
    div.content {
        background-color: darkgray;
       
        border-bottom: 2px 2px;
        height: 82px;
    }
    /*---reception----*/
    .recptBox {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .recptBox {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .detbox1 {
        grid-column: 1;
        border: 5px solid #fefdfd;
    }
    .detbox2 {
        display: grid;
        grid-column: 2;
        border: 5px solid #fefdfd;
    }
    .detbox3 {
        grid-column: 3;
        border: 5px solid #fefdfd;
    }
    .detboxA {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border: 5px solid #fefdfd;
    }
    .roombox1 {
        display: grid;
        grid-column: 1;
        border: 5px solid #fefdfd;
    }
    .roombox2 {
        display: grid;
        grid-column: 2;
        border: 5px solid #fefdfd;
    }
    .mainh {
        text-align: center;
    }
    .mainh p {
        margin-left: 10px;
        margin-right: 10px;
    }
    main h3 {
        background-color: rgb(108, 100, 100);
        border-radius: 0.25rem;
        box-shadow: 0 0.1rem 3rem #00000019;
        overflow: hidden;
        padding: 20px 1rem 10px;
        border-radius: 10px 10px;
        height: fit-content;
        text-align: center;
        color: white;
    }
    /*----temple----*/
    main.change1 h2 {
        text-align: center;
    }
    .templelist.card-view {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .templelist.card-view {
        margin: 0 auto;
        padding: 1em;
       background-color: #FFF;
    }
    div.temple {
        display: grid;
        border: #fff solid 5px;
    }
    main.change1 h2 {
        text-align: center;
    }
   
    .temple h3 {
        margin-bottom: 15px;
        padding: 15px 1rem;
    }
   
    .temple table {
        margin: 30px;
        color: rgb(108, 100, 100);
    }
    .temple img {
        margin-top: 15px;
        height: 300px;
        border-radius: 10px 10px;
    }
    /*service*/
    .main {
        margin: 0 20px;
    }
    .main .text {
        grid-column: 2;
    }
    .menu {
        border-radius: 0.25rem;
        box-shadow: 0 0.1rem 3rem #00000019;
        padding: 20px 1rem 10px;
        border-radius: 16px;
        height: fit-content;
        text-align: center;
        margin: 15px;
    }
    
    .menu .img-container {
        overflow: hidden;
    }
    /*----aminities----*/
    .hotel-aminities {
        margin: 0px auto;
    }
    .hotel-aminities h3 {
        background: none;
        box-shadow: none;
        padding: 0;
        color: #9E9B4A;
        font-size: 32px;
    }
    .hotel-aminities td {
        width: 25%;
        padding: 10px 0;
        color: #000;
        text-align: center;
    }
    .hotel-aminities td i {
        font-size: 25px;
        color: #6c6464;
    }
    /*accomodation*/
    div.temple-summary {
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
        color: rgb(108, 100, 100)
    }
    .group-2 {
        margin: 0 20px;
    }
    .group-3 {
        margin: 0 20px;
    }
    .group-1 div.call-to-action a {
        display: block;
        padding: 25px;
        text-align: center;
        text-decoration: none;
        font-size: 20px;
        color: white;
        border-radius: 5px;
        width: 80%;
        margin: 0 auto;
    }
    div.group-2 h2 {
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    /*--footer--*/
    footer div.contact-form input,
    footer div.contact-form textarea {
        width: 100%;
        padding: 10px 0;
        height: 35%;
    }
    .google-map {
        max-width: 100%;
        padding-top: 35px;
    }
    ooter div div {
        padding: 0;
        color: #ffff;
    }
    footer div.contact-form h3 {
        color: #ffff;
    }
    /* weather card */
    .weather-card {
        text-align: center;
        margin-left: 100px;
        margin-right: 100px;
        padding: 15px;
        color: #FFF;
        background: linear-gradient(to bottom right, #3cc0fe 20%, #0066ff);
        border-radius: 5px;
        width: 60%;
        margin: 0 auto;
    }
    .weather-header {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-columns: 1fr 1fr;
    }
    .weather-header .icon-weather {
        font-size: 40px;
    }
    .icon-weather .fas {
        margin-top: 35px;
        color: skyblue;
    }
    .weather-card table {
        width: 225px;
        margin: 10px auto 0;
    }
    .weather-card table img {
        width: 22px;
    }
    .weather-card table td:nth-child(1) {
        width: auto !important;
        text-align: left;
    }
    .weather-card table td:nth-child(2) {
        width: 25px !important;
        text-align: right;
    }
    .weather-card table td:nth-child(3) {
        text-align: right;
        width: 60px !important;
    }
    #current-condition-image {
        height: 50px;
        overflow: hidden;
        display: block;
        margin-bottom: 6px;
    }
    #current-condition-image img {
        width: 80px;
        display: inline-block;
        margin-top: -5px;
    }
   
    .group-reception {
        
        margin: 20px 20px;
    }
    .room-listing {
        display: flex;
        flex-direction: column;
        margin: 20px 20px;
    }
    .room-listing:nth-child(2n + 1) {
        flex-direction: column;
    }
    .col-left {
        min-width: -webkit-fill-available;
    }
    .room-listing {
        margin: unset;
        margin-bottom: 20px;
    }
    .main-big {
        margin: 0 20px;
    }
    .fulltime {
        margin: 0 20px;
    }
}