@media only screen and (max-width: 1024px) {
   
    /*---header---*/
    header {
        overflow: hidden;
        background-color: #12110f;
        background-image: url(../images/bangkok-thailand-temple.jpeg);
        background-position: center bottom;
        height: 400px;
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
    }

    div.social-media {
        text-align: center;
    }
    main .group-1>div {
        padding: 15px;
    }

    header .hotel-name {
        padding: 24px;
        text-align: center;
        width: 300px;
        margin: 24px auto;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 10px;
    }

    /*--reservation--*/
    div.elemdetail.inlined {
        width: 49%;
        display: inline-block;
        float: left;
        margin-left: 1%;
    }
    label {
        display: block;
        font-family: lato sans-serif;
        padding-bottom: 10px;
        font-size: 12px;
        color: #FFF;
    }
    input,
    select,
    textarea {
        border-radius: 5px;
        border: 2px solid #777;
        box-sizing: border-box;
        font-size: 1.25em;
        font-family: 'Nanum Gothic';
        width: 100%;
        padding: 10px;
    }

    fieldset {
        padding: 0.35em 0.75em 0.625em;
        border-radius: 5px;
    }

    div.elemdetail.inlined input {
        width: 95%;
        display: inline-block;
    }
    textarea {
        height: 250px;
    }
    hr {
        border: 1px dotted #ccc;
    }
    button {
        height: 50px;
        background: #777;
        border: none;
        color: white;
        font-size: 1.25em;
        font-family: 'Nanum Gothic';
        border-radius: 4px;
        cursor: pointer;
    }
    button:hover {
        border: 2px solid rgb(112, 112, 112);
    }
    .main {
        max-width: 1200px;
        margin: 0 auto;
    }
    .main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    main h2 {
        color: black;
        text-align: center;
    }
    main p {
        text-align: center;
        color: rgb(108, 100, 100)
    }
    img {
        width: 100%;
    }
    .content p {
        font-size: 300;
        color: rgb(252, 252, 250);
    }
    div.content {
        background-color: darkgray;
        box-shadow: #fff silver;
        border-bottom: 2px 2px;
        height: 82px;
    }
    /*---reception----*/
    .recptBox {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .recptBox {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .detbox1 {
        grid-column: 1;
        border: 5px solid #fefdfd;
    }
    .detbox2 {
        display: grid;
        grid-column: 2;
        border: 5px solid #fefdfd;
    }
    .detbox3 {
        grid-column: 3;
        border: 5px solid #fefdfd;
    }
    .detboxA {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border: 5px solid #fefdfd;
    }
    .roombox1 {
        display: grid;
        grid-column: 1;
        border: 5px solid #fefdfd;
    }
    .roombox2 {
        display: grid;
        grid-column: 2;
        border: 5px solid #fefdfd;
    }
    .mainh {
        text-align: center;
    }
    .mainh p {
        margin-left: 10px;
        margin-right: 10px;
    }
    main h3 {
        background-color: rgb(108, 100, 100);
        border-radius: 0.25rem;
        box-shadow: 0 0.1rem 3rem #00000019;
        overflow: hidden;
        padding: 20px 1rem 10px;
        border-radius: 10px 10px;
        height: fit-content;
        text-align: center;
        color: white;
    }
    /*----temple----*/
    main.change1 h2 {
        text-align: center;
    }
    .templelist.card-view {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .templelist.card-view {
        margin: 0 auto;
        padding: 1em;
        box-shadow: 0 0 20px 5px rgb(255 255 255);
        background-color: rgb(51, 51, 108);
    }
    div.temple {
        display: grid;
        border: #fff solid 5px;
    }
    main.change1 h2 {
        text-align: center;
    }
    .templelist.card-view {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .templelist.card-view {
        margin: 0 auto;
        padding: 1em;
        box-shadow: 0 0 20px 5px rgb(255 255 255);
        background-color: #E5E5E5;
    }
    .temple h3 {
        margin-bottom: 15px;
        padding: 15px 1rem;
    }
    div.temple {
        display: grid;
        border: #fff solid 5px;
    }
    .temple table {
        margin: 30px;
        color: rgb(108, 100, 100);
    }
    .temple img {
        margin-top: 15px;
        height: 300px;
    }
    /*service*/
    .main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .main .text {
        grid-column: 2;
    }
    .menu {
        border-radius: 0.25rem;
        box-shadow: 0 0.1rem 3rem #00000019;
        padding: 20px 1rem 10px;
        border-radius: 16px;
        height: fit-content;
        text-align: center;
        margin: 15px;
    }
    .menu.breakfast {
        grid-column: 1;
        grid-row: 1;
    }
    .menu.resto {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .menu .img-container {
        /*height: 191px;*/
        overflow: hidden;
    }
    /*----aminities----*/
    .hotel-aminities {
        margin: 25px auto;
        width: 550px;
        background-color: #F2F2F2;
        padding: 25px;
    }
    .hotel-aminities h3 {
        background: none;
        box-shadow: none;
        padding: 0;
        color: #000;
    }
    .hotel-aminities td {
        width: 25%;
        padding: 10px 0;
        color: #000;
        text-align: center;
    }
    .hotel-aminities td i {
        font-size: 25px;
        color: orange;
    }
    /*accomodation*/
    div.temple-summary {
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
        color: rgb(108, 100, 100)
    }
    div.weather-card {
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
        color: rgb(108, 100, 100)
    }
    .group-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:15px;
    }
    .card {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .card-2 {
        grid-column: 1;
    }
    .card-3 {
        grid-column: 2;
    }
    .group-1 div.call-to-action a {
        display: block;
        padding: 25px;
        text-align: center;
        text-decoration: none;
        background-color: #9e9b4a;
        font-size: 20px;
        color: white;
        border-radius: 5px;
        width: 80%;
        margin: 0 auto;
    }
    div.group-2 h2 {
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .accomond-1,
    .accomond-2,
    .accomond-3 {
        margin: 15px;
        border-radius: 0.25rem;
        box-shadow: 0 0.1rem 3rem #00000019;
        padding: 20px 1rem 10px;
        border-radius: 16px;
        height: fit-content;
        text-align: center;
    }
    .accomond-1 .content {
        height: auto;
        padding: 20px;
    }
    .content p {
        margin: 0;
        margin-bottom: 10px;
    }
    .accomond img {
        display: block;
    }
    /*card-design*/
    .card,
    .card-2,
    .card-3 {
        background-color: #000;
        border-radius: 10px;
        outline: 1px solid #fff;
        outline-offset: -8px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
        position: relative;
        overflow: hidden;
        height: 360px;
    }
    .card-4 {
        background-color: #000;
        border-radius: 10px;
        outline: 1px solid #fff;
        outline-offset: -8px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
        position: relative;
        overflow: hidden;
        height: 500px;
        margin: 0 0 32px 0;
    }
    /*card image*/
    .card-image {
        position: absolute;
        inset: 0;
        opacity: 0.8;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform .75s;
        border-radius: 10px;
    }
    .card:hover .card-image {
        transform: scale(1.15);
    }
    .card-image-2,
    .card-image-3 {
        position: absolute;
        inset: 0;
        opacity: 0.8;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform .75s;
        border-radius: 10px;
    }
    .card-image-4 {
        position: absolute;
        inset: 0;
        opacity: 0.8;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 100%;
        transition: transform .75s;
        border-radius: 10px;
    }
    .card-2:hover .card-image-2 {
        transform: scale(1.15);
    }
    .card-3:hover .card-image-3 {
        transform: scale(1.15);
    }
    .card-4:hover .card-image-4 {
        transform: scale(1.15);
    }
    /* Card content */
    .card-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        height: 120px;
        width: 100%;
        left: 0;
        bottom: 0;
        font-size: 20px;
        background-color: #9E9B4A;
        text-shadow: 0 0 1px rgba(0, 0, 0, .5);
        padding: 20px;
        border-radius: 0 0 10px 10px;
    }
    .card-content-2,
    .card-content-3,
    .card-content-4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        height: 120px;
        width: 100%;
        left: 0;
        bottom: 0;
        font-size: 20px;
        background-color: #9E9B4A;
        text-shadow: 0 0 1px rgba(0, 0, 0, .5);
        padding: 20px;
        border-radius: 0 0 10px 10px;
    }
    .card-content p {
        font-family: 'Lato', sans-serif;
        color: white;
        font-size: 16px;
    }
    .card-content-2 p,
    .card-content-3 p {
        font-family: 'Lato', sans-serif;
        color: white;
        font-size: 16px;
    }
    .card-content-4 p {
        color: white;
        font-size: 24px;
        font-weight: 700;
    }
    /* Card Title */
    .card-title {
        background-color: unset;
        box-shadow: unset;
        color: white;
        border-radius: unset;
        overflow: hidden;
        padding: 0;
        border-radius: unset;
        height: unset;
        text-align: center;
    }
    .card-title-2,
    .card-title-3 {
        background-color: unset;
        box-shadow: unset;
        color: white;
        border-radius: unset;
        overflow: hidden;
        padding: 0;
        border-radius: unset;
        height: unset;
        text-align: center;
    }
    .title-group-2 {
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-size: 24px;
        color: #9e9b4a;
        font-weight: 700;
        margin: 16px 0;
    }
    .title-card-4 {
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-size: 24px;
        color: #9e9b4a;
        font-weight: 700;
        margin: 36px 0 16px 0;
}
/*card-design*/
.card,
.card-2,
.card-3 {
    background-color: #000;
    border-radius: 10px;
    outline: 1px solid #fff;
    outline-offset: -8px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    position: relative;
    overflow: hidden;
    height: 360px;
}
.card-4 {
    background-color: #000;
    border-radius: 10px;
    outline: 1px solid #fff;
    outline-offset: -8px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    position: relative;
    overflow: hidden;
    height: 500px;
    margin: 0 0 32px 0;
}
/*card image*/
.card-image {
    position: absolute;
    inset: 0;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .75s;
    border-radius: 10px;
}
.card:hover .card-image {
    transform: scale(1.15);
}
.card-image-2,
.card-image-3 {
    position: absolute;
    inset: 0;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .75s;
    border-radius: 10px;
}
.card-image-4 {
    position: absolute;
    inset: 0;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 100%;
    transition: transform .75s;
    border-radius: 10px;
}
.card-2:hover .card-image-2 {
    transform: scale(1.15);
}
.card-3:hover .card-image-3 {
    transform: scale(1.15);
}
.card-4:hover .card-image-4 {
    transform: scale(1.15);
}
/* Card content */
/*.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    height: 60px;
    width: 100%;
    left: 0;
    bottom: 0;
    font-size: 20px;
    background-color: #9E9B4A;
    text-shadow: 0 0 1px rgba(0, 0, 0, .5);
    padding: 20px;
    border-radius: 0 0 10px 10px;
}*/
.card-content ,
.card-content-2,
.card-content-3,
.card-content-4 {
    display: grid;
    /*flex-direction: column;
    justify-content: center;
    position: absolute;
    
    width: 100%;
    left: 0;
    bottom: 0;
    font-size: 20px;
    background-color: #9E9B4A;
    text-shadow: 0 0 1px rgba(0, 0, 0, .5);
    */
    height: 60px;
    padding: 20px 0;
    border-radius: 0 0 10px 10px;
}
.card-content h3,
.card-content-2 h3,
.card-content-3 h3,
.card-content-4 h3 {
    margin: 0;
}

.card-content p,
.card-content-2 p,
.card-content-3 p,
.card-content-4 p {
    margin: 0;
}

.card-content p {
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 16px;
}
.card-content-2 p,
.card-content-3 p {
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 16px;
}
.card-content-4 p {
    color: white;
    font-size: 24px;
    font-weight: 700;
}
/* Card Title */
.card-title {
    background-color: unset;
    box-shadow: unset;
    color: white;
    border-radius: unset;
    overflow: hidden;
    padding: 0;
    border-radius: unset;
    height: unset;
    text-align: center;
}
.card-title-2,
.card-title-3 {
    background-color: unset;
    box-shadow: unset;
    color: white;
    border-radius: unset;
    overflow: hidden;
    padding: 0;
    border-radius: unset;
    height: unset;
    text-align: center;
}
.title-group-2 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    color: #9e9b4a;
    font-weight: 700;
    margin: 16px 0;
}
.title-card-4 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    color: #9e9b4a;
    font-weight: 700;
    margin: 36px 0 16px 0;
}

/*--footer--*/
footer div.contact-form input, footer div.contact-form textarea {
    width: 100%;
    padding: 10px 0;
    height: 35%;
}

.google-map {
    max-width: 80%;
    padding-top: 35px;
}

ooter div div {
    padding: 0;
    color: #ffff;

}
footer div.contact-form h3 {
    color: #ffff;
}

div.weather-card {
    text-align: center;
    /* text-align: center; */
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(108, 100, 100);
    background-color: #deab4f;
    padding: 15px;
    color: #FFF;
}
}